<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="optionsLine" chart-dataset-override="datasetOverride" chart-click="onClick" height="50"> </canvas>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div>
					<span class="chart" easypiechart percent="percent" options="options">
						<span class="percent" ng-bind="percent"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div>
					<span class="chart" easypiechart percent="percent" options="options">
						<span class="percent" ng-bind="percent"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<div>
					<span class="chart" easypiechart percent="percent" options="options">
						<span class="percent" ng-bind="percent"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>