<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">MiParqueo</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Administrar
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="ctrl.showDisponibilidad()">Buscar Disponibilidad</a></li>
            <!--li class="divider"></li>
            <li><a href="javascript:void(0)">Separated link</a></li-->
          </ul>
        </li>
      </ul>
      

      <div id="busqueda-dialog" class="modal fade clearfix">
        <div class="modal-content mfp-dialog">
        <h3>Buscar Disponibilidad</h3>
        <form id="searchForm" class="dialog-form">
            <div class="form-group">
                <label>Hora Desde</label>
                <input type="text" class="form-control hora" ng-model="ctrl.filter.hD" ng-required="true">
            </div>
            <div class="form-group">
                <label>Hora Hasta</label>
                <input type="text" class="form-control hora" ng-model="ctrl.filter.hH" ng-required="true">
            </div>
            <div class="form-group">
                <label>Tipo Vehiculo</label>
                <select class="form-control" ng-model="ctrl.filter.tV">
                  <option value="0">Liviano</option>
                  <option value="1">Pesado</option>
                  <option value="2">Moto</option>
                </select>
            </div>
            <div class="form-group collapse" id="search">
                <button ng-click="ctrl.buscarDisponibilidad()" class="btn btn-success">Buscar</button>
            </div>
            <div class="form-group collapse" id="searchPanel">
              <div class="form-group">
                <label>Puesto Asignado</label>
                <input type="text" class="form-control" ng-model="ctrl.filter.puesto" disabled="disabled">
              </div>
              <div class="form-group">
                <label>Placa</label>
                <input type="text" class="form-control" ng-model="ctrl.filter.placa">
              </div>
              <div class="form-group">
                <label>Tipo Pago</label>
                <select class="form-control" ng-model="ctrl.filter.tP" ng-change="ctrl.cambiarModoPago()">
                  <option value="0">Efectivo</option>
                  <option value="1">Payphone</option>
                </select>
              </div>
              <div class="form-group collapse" id="pagoPanel">
                  <label>Celular</label>
                  <input type="text" class="form-control" ng-model="ctrl.filter.celular">
              </div>
              <div class="form-group">
                <button ng-click="ctrl.reservar()" class="btn btn-success">Confirmar Reserva</button>
              </div>
            </div>
        </form>
        </div>
    </div>

  </div>
</div>